$mainGreen: #67C23A;
$darkGreen: #549c30;
$lightGreen: #85ce61;
$lightGreenOpacity: #85ce6191;
$white: #ffffff;
$mainBlue: #4D8DFF;
$mainYellow: #FFB900;
$mainRed: #F03E3D;
$mainGray: #f5f5f5;
$mainBlack: #37474F;
$darkGray: #b8b8b8;